
@{
    ViewData["Title"] = "Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Bu kategoriye ait kitap olduğu için bu kategoriyi silemezsiniz.
    Kategoriyi silmek için lütfen bağımlılıkları kaldırın.</h1>

