
@{
    ViewData["Title"] = "Yazar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Bu Yazar'a ait kitap olduğu için bu yazarı silemezsiniz. 
    Yazarı silmek için lütfen bağımlılıkları kaldırın.
    </h1>

