
@{
    ViewData["Title"] = "Yorum";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>
    Bu yoruma ait kitap olduğu için bu yorumu silemezsiniz.
    Yorumu silmek için lütfen bağımlılıkları kaldırın.
</h1>

