@model Kategori
@{
    ViewData["Title"] = "KategoriSil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yaptığınız İşlemi Geri Alamazsınız</h1>
<form asp-action="KategoriSil" asp-controller="Kategori" method="post">
    <input type="text" class="form-control my-2" asp-for="KategoriId"  />
    <input type="text" class="form-control my-2" asp-for="KategoriAdi" />
    <button type="submit" class="btn btn-outline-danger btn-block">Sil</button>
</form>

   


