@model Yazar
@{
    ViewData["Title"] = "YazarSil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>YazarSil</h1>
<form asp-action="YazarSil" asp-controller="Yazar" method="post">
    <span>Yazar ID: </span><input type="text" class="form-control my-2" readonly asp-for="YazarId" />
    <span>Yazar Adı: </span><input type="text" class="form-control my-2" readonly asp-for="YazarAdi" />
    <span>Yazar Adı: </span><input type="text" class="form-control my-2" readonly asp-for="YazarSoyadi" />
    <button type="submit"  class="btn btn-outline-danger btn-block">Sil</button>
</form>
        
    



