@model Yorum
@{
    ViewData["Title"] = "YorumSil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>YorumSil</h1>
<form asp-action="YorumSil" asp-controller="Yorum" method="post">
    <input type="text" class="form-control my-2" value="YorumId" readonly />
    <textarea type="text" cols="50" rows="4" class="form-control my-2" asp-for="Yorum1"></textarea>
    <button type="submit" class="btn btn-outline-danger btn-block">Sil</button>

</form>
    
