<ul class="list-group">
    <li class="list-group-item">Menu1 </li>  
    <li class="list-group-item">Menu1 </li>  
    <li class="list-group-item">Menu1 </li>  
    <li class="list-group-item">Menu1 </li>  
    <li class="list-group-item">Menu1 </li>  
</ul>